.menu ul {
     list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 75px;
     margin-bottom: 50px;
     margin-left: 5px;
     margin-right: 5px;

}

 .introduction { 
        text-align: justify;
        font-size: small;
        margin-left: 175px;
        margin-right: 175px;
 }

 .tldr {
    text-align: center;
    font-size: small;
    margin-left: 175px;
    margin-right: 175px;
 }

 .firstjob {
    text-align: justify;
    font-size: small;
    margin-left: 175px;
    margin-right: 175px;
 }


 .footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
   justify-content: space-around;
   margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 270px;
    margin-right: 270px;

 }