/* MAIN BANNER OPTIONS */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(Images/HnfhOx.jpg);
    height: 100px;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/* END */


/* BODY PAGE OPTIONS */

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    color: rgb(255, 255, 255);
    background: #202020;
  }

/* END */

/* HYPERLINK OPTIONS */


a {
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  a:link {
    text-decoration: none;
    font-size: .8rem;
    outline: none;
    background: none;
    color: #ffffff;
  }
  
  a:visited {
    color: none;
  }
  
  a:focus {
    border-bottom:solid 1px transparent;
    background: #ffffff;
  }
  
  a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px;
    background-color: rgb(32, 32, 32);

  }
  
  a:active {
    background: none;
    color: white
  }

/* END */

/* NAVIGATION BAR BORDER OPTIONS */

.box {

    border: 1px solid rgb(27, 27, 27);
    background-color: rgb(22, 22, 22);
    padding: 3px;
    margin: 15px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

/* END */

/* CURRENT PAGE BORDER OPTIONS */

span {
  border-bottom: 2px solid rgb(203, 239, 255);
}

/* END */


/* NAVIGATION BAR OPTIONS */

.menu ul {
     list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 10px;
     margin-bottom: 1px;
     margin-left: 0px;
     margin-right: 0px;
}
/* END */


/* INTRODUCTION PAGE OPTIONS*/

 .introduction { 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        font-size: 13px;
        margin-left: 175px;
        margin-right: 175px;
 }

 /* END */

 .tldr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 13px;
    margin-left: 175px;
    margin-right: 175px;
 }

 .firstjob {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 13px;
    margin-left: 175px;
    margin-right: 175px;
 }


 .footer ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
   justify-content: space-around;
   margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 270px;
    margin-right: 270px;
 }

 