.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(Images/HnfhOx.jpg);
    height: 200px;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.menu ul {
     list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 5px;
     margin-bottom: 1px;
     margin-left: 5px;
     margin-right: 5px;
}

 .introduction { 
        text-align: justify;
        font-size: small;
        margin-left: 175px;
        margin-right: 175px;
 }

 .tldr {
    text-align: center;
    font-size: small;
    margin-left: 175px;
    margin-right: 175px;
 }

 .firstjob {
    text-align: justify;
    font-size: small;
    margin-left: 175px;
    margin-right: 175px;
 }


 .footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
   justify-content: space-around;
   margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 270px;
    margin-right: 270px;

 }